################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FastShadowsocks/FileContentIndex
/.vs/FastShadowsocks/v17
*.suo
*.sqlite
*.json
